# Rewrite Engine
RewriteEngine On

# HTTPS
RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}/$1 [R=301,L]

# www erzwingen
RewriteCond %{HTTP_HOST} ^ganneganne.de [NC]
RewriteRule ^(.*)$ https://www.ganneganne.de/$1 [L,R=301,NC]

# Kein Trailing Slash
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)/$ /$1 [R=301,NC,L]